.html,
.none
{
    position: relative;
    top: 10px;
    left: 10px;
    width: 1100px;
    height: 690px;
    margin: 0;
    padding: 0;
}

.container
{
    width: 1120px;
    height: 700px;
    position: relative;
}

.back
{
    position: relative;
    top: 21px;
    left: 10px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    background-color: #00bdfe;
    border: none;
    border-radius: 10px;
}

.none,
.test
{
    background-color: aliceblue;
}

.none
{
    position: relative;
    font-size: 50px;
}

.test
{
    position: relative;
    top: 20px;
    left: 10px;
    width: 1100px;
    height: 230px;
    background-color: #333333;
    border: 1px solid white;
    border-radius: 10px;
}

.explanation,
.skills,
.detail
{
    position: relative;
    margin: 0;
    padding: 0;
}

.explanation,
.skills,
.detail,
.span
{
    color: white;
    margin-left: 5px;
}