.html,
.iframe
{
    position: relative;
    left: 10px;
    top: 10px;
    width: 1100px;
    height: 700px;
    margin: 0;
    padding: 0;
}

.container
{
    width: 1100px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
}

.back
{
    position: relative;
    top: 16px;
    left: 10px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    background-color: #00bdfe;
    border: none;
    border-radius: 10px;
}

.test1
{
    position: relative;
    top: 15px;
    left: 10px;
    width: 1100px;
    height: 285px;
    background-color: #333333;
    border: 1px solid white;
    border-radius: 10px;
}

.explanation,
.skills,
.detail,
.url
{
    position: relative;
    margin: 0;
    padding: 0;
}

.explanation,
.skills,
.detail,
.url,
.span,
.span2
{
    color: white;
    margin-left: 5px;
}

.url
{
    color: red
}

.span2
{
    color: red
}