.container
{
    position: relative;
    right: 32.5px;
    display: flex;
    align-items: center;
}

.genreInput
{
    width: 100px;
    height: 10px;
    position: relative;
    left: 550px;
    top: 40px;
    border-radius: 10px 0 0 10px;
    border: none;
    color: white;
    font-size: 6px;
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.1);
    outline: none;
}

.genreButton
{
    width: 10px;
    height: 12px;
    position: relative;
    left: 550px;
    top: 40px;
    border-radius: 0 10px 10px 0;
    border: none;
    font-size: 6px;
}

.searchIcon
{
    position: relative;
    bottom: 1px;
    right: 3px;
    color: #232023;
}
