.container
{
    position: relative;
    right: 95px;
    width: 600px;
}


.subHeader
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerTitle
{
    position: relative;
    top: 10px;
    right: 200px;
    font-size: 45px;
    font-weight: 700;
    color: white;
}

.soul
{
    font-weight: 800;
    color: #E74C3C;
}

.headerForm
{
    display: flex;
    align-items: center;
}

.header
{
    
}

.inputContainer
{
    display: flex;
    position: relative;
    left: 225px;
    bottom: 36.5px;
}

.headerInput
{
    width: 300px;
    height: 20px;
    position: relative;
    right: 4.5px;
    color: white;
    font-size: 17.5px;
    border: none;
    outline: none;
    border-radius: 20px 0 0 20px;
    background-color: rgba(100, 100, 100, 0.3);
}

.headerButton
{
    position: relative;
    right: 5px;
    height: 22px;
    border: none;
    border-radius: 0 20px 20px 0;
    align-items: center;
}

.headerIcon
{
    padding-top: 3px;
    padding-right: 2px;
    font-weight: 700;
    color: #232023;
}

.genre
{
    width: 13%;
    margin-right: 30px;
    cursor: pointer;
}

.subGenre
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.genreTitle
{
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.genreContent
{
    display: flex;
    align-items: center;
}

.genreArrow
{
    border: none;
    font-weight: 700;
    font-size: 25px;
    color: #E74C3C;
}

.sideBar
{
    position: absolute;
    width: 100%;
    margin-top: 350px;
    padding-left: 2635px;
    background-color: aqua;
    /*position: relative;
    top: 20px;
    left: 50%;*/
}