.container
{
    position: relative;
    width: 100%;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    border-right: 1px solid rgba(255, 255, 255, 0);
    margin: 0.5px;
}

.container:hover
{
    border: 1px solid #E74C3C;
}

.title
{
    overflow: hidden;
    white-space: nowrap;
    color: white;
    font-size: 10px;
    font-weight: 700px;
}

.delete
{
    position: relative;
    width: 12px;
    height: 12px;
    top: 0.1px;
    left: 5px;
    background-color: #E74C3C;
    border-radius: 50%;
    border: none;
}

.deleteIcon
{
    color: white;
    position: relative;
    font-size: 4px;
    font-weight: 900;
    bottom: 4px;
    right: 3px;
}