.container
{
    position: relative;
    bottom: 90px;
}

.list
{
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    right: 290px;
}

.delete
{
    color: white;
    font-size: 12px;
}

.buttons
{
    position: relative;
    display: flex;
    align-items: center;
}

.howManyLikes
{
    width: 35px;
    position: relative;
    top: 2px;
    right: 260px;
    font-size: 4px;
    font-weight: 700;
    color: white;
}

.explanation
{
    position: relative;
    right: 25px;
}

.recommendButton,
.deleteAll
{
    position: relative;
    right: 260px;
    background-color: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    border-right: 1px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    margin-left:1px;
    color: white;
    font-size: 10px;
    font-weight: 700;
}

.recommendButton:hover,
.deleteAll:hover
{
    border: 1px solid #E74C3c;
}

.caution
{
    position: relative;
    top: 10px;
    right: 285px;
    color: yellow;
    font-size: 5px;
}