.container
{
    position: relative;
    width: 300px;
    height: 25px;
    left: 380px;
    bottom: 147px;
    font-size: 5px;
    display: flex;
    align-items: center;
}

.normalHome,
.normalRecommend
{
    position: relative;
    border: none;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    font-size: 7.5px;
    font-weight: 700;
    background-color: #E74C3C;
}

.specificHome,
.specificRecommend
{
    color: #E74C3C;   
}